#navbar a {
  color: white;
}
#navbar {
  font-size: 1.2rem;
}

.title {
  font-size: 1.7rem;
  font-family: 'Sacramento', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
